# Ex04

## read the JSON file that you saved in ex02

In [3]:
import pandas as pd
df = pd.read_json('../data/auto.json')
pd.options.display.float_format = '{:.2f}'.format
print(df)

        CarNumber  Refund    Fines    Make    Model
0    Y163O8161RUS       2  3200.00    Ford    Focus
1     E432XX77RUS       1  6500.00  Toyota    Camry
2     7184TT36RUS       1  2100.00    Ford    Focus
3    X582HE161RUS       2  2000.00    Ford    Focus
5    92918M178RUS       1  5700.00    Ford    Focus
..            ...     ...      ...     ...      ...
926  Y163O8161RUS       2  1600.00    Ford    Focus
927  M0309X197RUS       1 22300.00    Ford    Focus
928  O673E8197RUS       2   600.00    Ford    Focus
929  8610T8154RUS       1  2000.00    Ford    Focus
930  H419XE197RUS       2  8594.59  Toyota  Corolla

[725 rows x 5 columns]

## enrich the dataframe using a sample from that dataframe

create a sample with 200 new observation with random_state = 21

In [4]:
import numpy as np
sampled_df = df.sample(n=200, random_state=21)
unique_combinations = df[['CarNumber', 'Make', 'Model']].drop_duplicates()
sampled_df = sampled_df.merge(unique_combinations, on=['CarNumber', 'Make', 'Model'], how='inner')
sampled_df['Refund'] = np.random.choice(df['Refund'], size=len(sampled_df))
sampled_df['Fines'] = np.random.choice(df['Fines'], size=len(sampled_df))
print(sampled_df)

        CarNumber  Refund    Fines        Make   Model
0    M0299X197RUS       2  3000.00        Ford   Focus
1    83298C154RUS       1  3000.00        Ford   Focus
2    H957HY161RUS       1  7100.00        Ford   Focus
3     T941CC96RUS       1  2000.00        Ford   Focus
4    H966HY161RUS       2  4500.00        Ford   Focus
..            ...     ...      ...         ...     ...
195  8182XX154RUS       1  1000.00        Ford   Focus
196   X796TH96RUS       2  4500.00        Ford   Focus
197  T011MY163RUS       2 34800.00        Ford   Focus
198   T341CC96RUS       1   400.00  Volkswagen  Passat
199   T119CT96RUS       1  2400.00        Ford   Focus

[200 rows x 5 columns]

concatenate the sample with the initial dataframe to a new dataframe con-cat_rows

In [5]:
concat_rows = pd.concat([df, sampled_df])

print(concat_rows)

        CarNumber  Refund    Fines        Make   Model
0    Y163O8161RUS       2  3200.00        Ford   Focus
1     E432XX77RUS       1  6500.00      Toyota   Camry
2     7184TT36RUS       1  2100.00        Ford   Focus
3    X582HE161RUS       2  2000.00        Ford   Focus
5    92918M178RUS       1  5700.00        Ford   Focus
..            ...     ...      ...         ...     ...
195  8182XX154RUS       1  1000.00        Ford   Focus
196   X796TH96RUS       2  4500.00        Ford   Focus
197  T011MY163RUS       2 34800.00        Ford   Focus
198   T341CC96RUS       1   400.00  Volkswagen  Passat
199   T119CT96RUS       1  2400.00        Ford   Focus

[925 rows x 5 columns]

## enrich the dataframe concat_rows by a new column with the data generated

create a series with the name Year using random integers from 1980 to 2019
use np.random.seed(21) before generating the years
concatenate the series with the dataframe and name it fines

In [6]:
np.random.seed(21)
Year = pd.Series(np.random.randint(1980, 2019, size = 925), name = 'Year')
concat_rows.reset_index(drop=True, inplace=True)
fines = pd.concat([concat_rows, Year], axis=1)
print(fines)

        CarNumber  Refund    Fines        Make   Model  Year
0    Y163O8161RUS       2  3200.00        Ford   Focus  1989
1     E432XX77RUS       1  6500.00      Toyota   Camry  1995
2     7184TT36RUS       1  2100.00        Ford   Focus  1984
3    X582HE161RUS       2  2000.00        Ford   Focus  2015
4    92918M178RUS       1  5700.00        Ford   Focus  2014
..            ...     ...      ...         ...     ...   ...
920  8182XX154RUS       1  1000.00        Ford   Focus  1996
921   X796TH96RUS       2  4500.00        Ford   Focus  2002
922  T011MY163RUS       2 34800.00        Ford   Focus  1996
923   T341CC96RUS       1   400.00  Volkswagen  Passat  2012
924   T119CT96RUS       1  2400.00        Ford   Focus  1984

[925 rows x 6 columns]

## enrich the dataframe with the data from another dataframe

Create a new dataframe with the car numbers and their owners

In [7]:
surnames = pd.read_json('../../datasets/surname.json', )
surnames.columns = ['NAME', 'COUNT', 'RANK']
surnames = surnames.drop(0).reset_index(drop=True)
surnames['RANK'] = surnames['RANK'].astype(int)
surnames = surnames.sort_values(by='RANK')
print(surnames)

        NAME    COUNT  RANK
84     SMITH  2442977     1
40   JOHNSON  1932812     2
95  WILLIAMS  1625252     3
8      BROWN  1437026     4
41     JONES  1425470     5
..       ...      ...   ...
59     MYERS   229895    96
47      LONG   229374    97
79      ROSS   229368    98
24    FOSTER   227764    99
39   JIMENEZ   227118   100

[100 rows x 3 columns]

In [8]:
np.random.seed(21)
unique_car_count = fines['CarNumber'].nunique()
sampled_surnames = surnames['NAME'].sample(n=unique_car_count, replace = True,random_state=21)
surname_series = pd.Series(sampled_surnames.values, name='Surname')
print(surname_series)

0           KELLY
1      RICHARDSON
2            CRUZ
3           JONES
4          CARTER
          ...
526      MARTINEZ
527         YOUNG
528        GARCIA
529           LEE
530          CRUZ
Name: Surname, Length: 531, dtype: object

In [9]:
owners = pd.DataFrame({
    'CarNumber': fines['CarNumber'].unique(),
    'SURNAME' : sampled_surnames.values
})
print(owners)

        CarNumber     SURNAME
0    Y163O8161RUS       KELLY
1     E432XX77RUS  RICHARDSON
2     7184TT36RUS        CRUZ
3    X582HE161RUS       JONES
4    92918M178RUS      CARTER
..            ...         ...
526  O136HO197RUS    MARTINEZ
527  O22097197RUS       YOUNG
528  M0309X197RUS      GARCIA
529  O673E8197RUS         LEE
530  8610T8154RUS        CRUZ

[531 rows x 2 columns]

append 5 more observations to the fines dataframe (come up with your own ideas of CarNumber, etc.)

In [11]:
additional_fines = pd.DataFrame({
    'CarNumber' : ['0937I9348RUS', '8373X9382RUS', '9723R3209RUS', '7774L8473RUS','7848R8329RUS'],
    'Refund' : [2,1,2,1,1],
    'Fines' : [2560, 3410, 3020, 2850, 3800],
    'Make' : ['Ford', 'Toyota', 'Volkswagen', 'Ford', 'Skoda'],
    'Model' : ['Focus', 'Camery', 'Passat', 'Focus', 'Golf'],
    'Year' : [2003, 1999, 2015, 1985, 2000]
})

fines = pd.concat([fines, additional_fines], ignore_index=True)
print(fines)

        CarNumber  Refund   Fines        Make   Model  Year
0    Y163O8161RUS       2 3200.00        Ford   Focus  1989
1     E432XX77RUS       1 6500.00      Toyota   Camry  1995
2     7184TT36RUS       1 2100.00        Ford   Focus  1984
3    X582HE161RUS       2 2000.00        Ford   Focus  2015
4    92918M178RUS       1 5700.00        Ford   Focus  2014
..            ...     ...     ...         ...     ...   ...
925  0937I9348RUS       2 2560.00        Ford   Focus  2003
926  8373X9382RUS       1 3410.00      Toyota  Camery  1999
927  9723R3209RUS       2 3020.00  Volkswagen  Passat  2015
928  7774L8473RUS       1 2850.00        Ford   Focus  1985
929  7848R8329RUS       1 3800.00       Skoda    Golf  2000

[930 rows x 6 columns]

delete the dataframe last 20 observations from the owners and add 3 new observations (they are not the same as those you add to the fines dataframe)

In [12]:
owners = owners.iloc[:-20]
add_owners = pd.DataFrame({
    'CarNumber' : [ '9840R7289RUS', '8492Y3764RUS', '3846X3790RUS'],
    'SURNAME' : ['POPOV', 'MARE', 'LULU']
})
owners = pd.concat([owners, add_owners], ignore_index=True)
print(owners)

        CarNumber     SURNAME
0    Y163O8161RUS       KELLY
1     E432XX77RUS  RICHARDSON
2     7184TT36RUS        CRUZ
3    X582HE161RUS       JONES
4    92918M178RUS      CARTER
..            ...         ...
509  O50197197RUS      FOSTER
510  7608EE777RUS      WRIGHT
511  9840R7289RUS       POPOV
512  8492Y3764RUS        MARE
513  3846X3790RUS        LULU

[514 rows x 2 columns]

join both dataframes

In [14]:
both_carnum = pd.merge(fines, owners, how='inner', on='CarNumber')
print(both_carnum)
all_carnum = pd.merge(fines, owners, how='outer', on='CarNumber')
print(all_carnum)
fines_carnum = pd.merge(fines, owners, how='left', on='CarNumber')
print(fines_carnum)
owners_carnum = pd.merge(fines, owners, how='right', on='CarNumber')
print(owners_carnum)

        CarNumber  Refund    Fines        Make   Model  Year     SURNAME
0    Y163O8161RUS       2  3200.00        Ford   Focus  1989       KELLY
1     E432XX77RUS       1  6500.00      Toyota   Camry  1995  RICHARDSON
2     7184TT36RUS       1  2100.00        Ford   Focus  1984        CRUZ
3    X582HE161RUS       2  2000.00        Ford   Focus  2015       JONES
4    92918M178RUS       1  5700.00        Ford   Focus  2014      CARTER
..            ...     ...      ...         ...     ...   ...         ...
894  8182XX154RUS       1  1000.00        Ford   Focus  1996       JAMES
895   X796TH96RUS       2  4500.00        Ford   Focus  2002     SANDERS
896  T011MY163RUS       2 34800.00        Ford   Focus  1996      CHAVEZ
897   T341CC96RUS       1   400.00  Volkswagen  Passat  2012      ROGERS
898   T119CT96RUS       1  2400.00        Ford   Focus  1984      WATSON

[899 rows x 7 columns]
        CarNumber  Refund    Fines  Make  Model    Year  SURNAME
0    0937I9348RUS    2.00  2560.00  Ford  Focus 2003.00      NaN
1    3846X3790RUS     NaN      NaN   NaN    NaN     NaN     LULU
2    704687163RUS    2.00  1400.00  Ford  Focus 2014.00    SMITH
3    704787163RUS    2.00  2800.00  Ford  Focus 2005.00     CRUZ
4    704987163RUS    2.00  8594.59  Ford  Focus 2014.00   TURNER
..            ...     ...      ...   ...    ...     ...      ...
928  Y973O8197RUS    2.00  8594.59  Ford  Focus 2005.00  JIMENEZ
929  Y973O8197RUS    1.00 34800.00  Ford  Focus 2013.00  JIMENEZ
930  Y973O8197RUS    1.00 69600.00  Ford  Focus 1989.00  JIMENEZ
931  Y973O8197RUS    1.00  2000.00  Ford  Focus 2009.00  JIMENEZ
932  Y973O8197RUS    2.00  9600.00  Ford  Focus 2014.00  JIMENEZ

[933 rows x 7 columns]
        CarNumber  Refund   Fines        Make   Model  Year     SURNAME
0    Y163O8161RUS       2 3200.00        Ford   Focus  1989       KELLY
1     E432XX77RUS       1 6500.00      Toyota   Camry  1995  RICHARDSON
2     7184TT36RUS       1 2100.00        Ford   Focus  1984        CRUZ
3    X582HE161RUS       2 2000.00        Ford   Focus  2015       JONES
4    92918M178RUS       1 5700.00        Ford   Focus  2014      CARTER
..            ...     ...     ...         ...     ...   ...         ...
925  0937I9348RUS       2 2560.00        Ford   Focus  2003         NaN
926  8373X9382RUS       1 3410.00      Toyota  Camery  1999         NaN
927  9723R3209RUS       2 3020.00  Volkswagen  Passat  2015         NaN
928  7774L8473RUS       1 2850.00        Ford   Focus  1985         NaN
929  7848R8329RUS       1 3800.00       Skoda    Golf  2000         NaN

[930 rows x 7 columns]
        CarNumber  Refund    Fines    Make    Model    Year     SURNAME
0    Y163O8161RUS    2.00  3200.00    Ford    Focus 1989.00       KELLY
1    Y163O8161RUS    2.00  1600.00    Ford    Focus 1999.00       KELLY
2     E432XX77RUS    1.00  6500.00  Toyota    Camry 1995.00  RICHARDSON
3     E432XX77RUS    2.00 13000.00  Toyota    Camry 1992.00  RICHARDSON
4     7184TT36RUS    1.00  2100.00    Ford    Focus 1984.00        CRUZ
..            ...     ...      ...     ...      ...     ...         ...
897  7608EE777RUS    1.00  4000.00   Skoda  Octavia 2013.00      WRIGHT
898  7608EE777RUS    2.00  4300.00   Skoda  Octavia 1987.00      WRIGHT
899  9840R7289RUS     NaN      NaN     NaN      NaN     NaN       POPOV
900  8492Y3764RUS     NaN      NaN     NaN      NaN     NaN        MARE
901  3846X3790RUS     NaN      NaN     NaN      NaN     NaN        LULU

[902 rows x 7 columns]

## create a pivot table from the fines dataframe, it should look like this (the values are the sums of the fines), but with all the years (the values may be different for you)

In [20]:
pivot_table = fines.pivot_table(
    values='Fines',
    index=['Make', 'Model'],
    columns='Year',
    aggfunc='sum'
)
print(pivot_table)

Year                    1980      1981      1982      1983      1984  \
Make       Model
Audi                     NaN       NaN       NaN       NaN       NaN
BMW                      NaN       NaN       NaN       NaN       NaN
Ford       Focus   102400.00 263294.59 153200.00 157894.59 115000.00
           Mondeo        NaN       NaN  46200.00       NaN       NaN
Skoda      Golf          NaN       NaN       NaN       NaN       NaN
           Octavia   9694.59   1900.00   8894.59       NaN   9900.00
Toyota     Camery        NaN       NaN       NaN       NaN       NaN
           Camry    12000.00       NaN    600.00    100.00   1000.00
           Corolla       NaN   6800.00       NaN  12800.00       NaN
Volkswagen           1300.00   7900.00       NaN       NaN       NaN
           Golf     20800.00   8594.59   5000.00    200.00       NaN
           Jetta         NaN   1000.00       NaN       NaN       NaN
           Passat     900.00  10500.00       NaN   1100.00   8594.59
           Touareg       NaN       NaN       NaN       NaN       NaN
Volvo                    NaN       NaN       NaN       NaN       NaN

Year                    1985     1986      1987     1988      1989  ...  \
Make       Model                                                    ...
Audi                     NaN      NaN       NaN      NaN       NaN  ...
BMW                      NaN      NaN       NaN      NaN       NaN  ...
Ford       Focus   261444.59 60700.00 100594.59 89172.93 175389.17  ...
           Mondeo        NaN      NaN       NaN      NaN       NaN  ...
Skoda      Golf          NaN      NaN       NaN      NaN       NaN  ...
           Octavia   9094.59      NaN   6300.00  5100.00   8594.59  ...
Toyota     Camery        NaN      NaN       NaN      NaN       NaN  ...
           Camry         NaN 19800.00       NaN      NaN    800.00  ...
           Corolla  37500.00      NaN  54300.00      NaN   7800.00  ...
Volkswagen               NaN  7400.00       NaN      NaN       NaN  ...
           Golf    168000.00      NaN   5700.00      NaN    300.00  ...
           Jetta     9000.00      NaN       NaN 46000.00   5500.00  ...
           Passat        NaN 16000.00   2000.00  8594.59       NaN  ...
           Touareg       NaN      NaN       NaN      NaN       NaN  ...
Volvo                    NaN      NaN       NaN      NaN       NaN  ...

Year                    2009      2010      2011      2012      2013  \
Make       Model
Audi                     NaN       NaN       NaN       NaN       NaN
BMW                      NaN       NaN   8594.59       NaN       NaN
Ford       Focus   114094.59 124600.00 117494.59 142683.76 288678.35
           Mondeo        NaN       NaN       NaN       NaN  41100.00
Skoda      Golf          NaN       NaN       NaN       NaN       NaN
           Octavia       NaN  37300.00   3000.00   1700.00  11800.00
Toyota     Camery        NaN       NaN       NaN       NaN       NaN
           Camry         NaN  22400.00       NaN   7500.00       NaN
           Corolla   8594.59   6000.00   1000.00       NaN       NaN
Volkswagen               NaN       NaN       NaN       NaN       NaN
           Golf          NaN       NaN       NaN       NaN       NaN
           Jetta         NaN       NaN       NaN       NaN       NaN
           Passat    8594.59   9500.00       NaN    400.00   1600.00
           Touareg   5800.00       NaN       NaN       NaN       NaN
Volvo                6800.00       NaN       NaN       NaN       NaN

Year                    2014      2015      2016      2017      2018
Make       Model
Audi                     NaN       NaN       NaN       NaN       NaN
BMW                      NaN       NaN  12300.00       NaN       NaN
Ford       Focus   106878.35 186200.00 110189.17 109500.00 151600.00
           Mondeo        NaN       NaN       NaN   8600.00       NaN
Skoda      Golf          NaN       NaN       NaN       NaN       NaN
           Octavia   4600.00  16394.59  35700.00   2400.00 153200.00
Toyota     Camery        NaN       NaN       NaN       NaN       NaN
           Camry         NaN       NaN   1100.00       NaN       NaN
           Corolla       NaN   2100.00       NaN   7000.00       NaN
Volkswagen               NaN       NaN       NaN       NaN       NaN
           Golf     13900.00  15300.00       NaN       NaN   2200.00
           Jetta         NaN       NaN       NaN       NaN       NaN
           Passat    2500.00   3020.00       NaN       NaN       NaN
           Touareg       NaN       NaN       NaN       NaN       NaN
Volvo                    NaN  10200.00       NaN       NaN       NaN

[15 rows x 39 columns]

## save both the fines and owners dataframes to CSV files without an index

In [22]:
fines.to_csv('../data/fines.csv', index=False)
owners.to_csv('../data/owners.csv', index=False)