# Ex01

## create a connection to the database using the library sqlite3

In [46]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('../data/logs.db')
cursor = connection.cursor()

cursor.execute("ATTACH DATABASE '../data/checking-logs.sqlite' AS logs")

connection.commit()

## get the schema of the table checker

In [47]:
query = "PRAGMA table_info(checker);"
schema = pd.io.sql.read_sql(query, connection)
print(schema)

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

## get only the first 10 rows of the table checker to check what the table looks like

In [48]:
query = "SELECT * FROM checker LIMIT 10;"
head = pd.io.sql.read_sql(query, connection)
print(head)

   index    status  success                   timestamp  numTrials   labname  \
0      0  checking        0  2020-04-16 21:12:50.740474          5      None
1      1     ready        0  2020-04-16 21:12:54.708365          5  code_rvw
2      2  checking        0  2020-04-16 21:46:47.769088          7      None
3      3     ready        0  2020-04-16 21:46:48.121217          7     lab02
4      4  checking        0  2020-04-16 21:53:01.862637          6  code_rvw
5      5     ready        0  2020-04-16 21:53:05.373389          6  code_rvw
6      6  checking        0  2020-04-17 05:18:51.965864          1      None
7      7     ready        0  2020-04-17 05:19:02.744528          1  project1
8      8  checking        0  2020-04-17 05:22:35.249331          2  project1
9      9     ready        1  2020-04-17 05:22:45.549397          2  project1

       uid
0  admin_1
1  admin_1
2  admin_1
3  admin_1
4  admin_1
5  admin_1
6     None
7   user_4
8   user_4
9   user_4

## count how many rows satisfy the following conditions using only one query with any number of subqueries:

In [49]:
query = """
SELECT *
FROM pageviews
WHERE uid IN (
    SELECT uid
    FROM checker
    WHERE status = 'ready'
    AND numTrials = 1
    AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1')
    GROUP BY uid
)
;
"""
checkers = pd.io.sql.read_sql(query, connection)
print(checkers)

     index      uid                    datetime
0       12  user_30  2020-04-17 22:46:26.785035
1       14  user_14  2020-04-18 10:53:52.623447
2       15  user_17  2020-04-18 10:56:55.833899
3       16  user_14  2020-04-18 10:57:37.331258
4       18  user_17  2020-04-18 12:05:48.200144
..     ...      ...                         ...
980   1072  user_19  2020-05-21 17:49:36.429237
981   1073  user_28  2020-05-21 18:45:20.441142
982   1074  user_19  2020-05-21 23:03:06.457819
983   1075  user_25  2020-05-21 23:23:49.995349
984   1079  user_17  2020-05-22 18:22:22.847815

[985 rows x 3 columns]

## close the connection

In [50]:
connection.close()